NODE_ENV=local
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_ENDPOINT=http://127.0.0.1:4566
S3_FORCE_PATH_STYLE=true
S3_BUCKET_NAME=test-evidence-bucket
PORT=3001
AI_PORT=3002

PASSWORD_ADMIN=caio
OPENAI_API_KEY=*****
OPENAI_DISABLE_SSL_VERIFY=true